{%extends 'base.html'%}

{% block content %}
{{block.super}}

<body style=" background-color: rgb(240, 241, 171)">
   <div class = "container"  >
      <div class="well">
         <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">VIEW ALL PROFILES</button></div>
          <br>
          <br>
          <div class="well">
      
            
      <div id="demo" class="collapse">
          

         {% for profs in profile %}
            
    
            <p style="color:rgb(53, 68, 53);padding:5px;font-size: 17px;font-family: monospace;"><a href="{%url 'myProfile' user.id %}"><strong>{{profs.first_name}}</strong></a>

         {% endfor %}         
            
         </div> 
      
            {% for profs in project %}
            <div class="name">
            <p><strong><h1 style="color:rgb(7, 89, 92); text-align: left;" >{{profs.project_name|safe}} </h1></strong></p>
            <!-- <img src="{{profs.image.url}}" style="width: 300px; height: 300px;border-radius:30px" alt="Image"> -->
            <a href="/images/{{profs.id}}"><img src="{{profs.image.url}}" alt="Image" style="border-radius:10px; width: 400px;height: 220px;"></a>
              
            {% autoescape on %}
                        
            <p><strong>Description:</strong>{{profs.description|safe}} </p>
            <strong><p>Link</strong>:<a href="{{profs.project_url|safe}}">{profs.project_url|safe}}</a></p>
            
        {% endautoescape %} 
            <div class="row">
               <div class="col-md-6"><button><a href="/votes/{{profs.id}}"><strong>RATE</strong></a></button></div>
            </div>
         </div>
         
            <!-- <div class="col-md-6"><button><a href="/comments/{{profs.id}}"><strong>REVIEW</strong></a></button></div> -->
            
            {% endfor %}
     </div>
   </div>
</body>

{% endblock %}