<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'welcome' %}" style="color:white;"><strong>HOME</strong></a>
    </div>
    <!--The search form above-->
    <div class="col-sm-6 col-md-6">
        {% if user.is_authenticated %}
        <ul>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button" aria-expanded="false" style="color:rgb(12, 11, 11);text-decoration:none;"><strong>Account
            </strong><span class="caret"></span>
                  </a>
            <ul class="dropdown-menu" role="menu">
              <li>
                <a href="{%url 'welcome'%}">Home</a>
              </li>
              {% if request.user.profile %}
              <li>
                <a href=" {% url 'myProfile' user.id %}"><strong>View Profile</strong></a>
              </li>
              {% endif %}
              <li>
                  <a href="/profile"><strong>Add Profile</strong></a>
                </li>
              <li>
              <li>
                <a href="/accounts/password/change"><strong>Change Password</strong></a>
              </li>
              <li>
                <a href="/logout"><strong>Logout</strong></a>
              </li>
            </ul>
          </li>
        </ul>
      
        <!-- search form end -->

        <div class="nav navbar-nav navbar-right">

            <button class="well"><a href="/project"   style="text-align: center;padding-left:50px;font-family: monospace;color:black;"><strong>POST PROJECT</strong></a></button>
     
           </div>

             <!-- Adding a search form  -->
      
      </div>
        {% else %}
        <li>
          <a class='btn btn-default' href="/accounts/login">Login</a>
        </li>

        {% endif %}
      
  </div>      
</nav>
</body>
</html>