{% extends 'base.html' %}
{% load bootstrap3 %} {% load staticfiles %}
{% block content %}


<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Article</title>
  {{form.media}}

{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endblock %}

</head>

<body>
                    
                    <div class="container" id="index"   >
                
                        <div class="row" style="color:rgb(108, 122, 122);font-family: monospace;">
                            <h1 class="text-center" class="well">{{post.name}}</h1>
                            <br>
                            <h3 class="text-center">Added <strong>{{post.user}}</strong></h3>
                        </div>
            
                <div class="row">
                    <img src="{{post.image.url}}"  class="img-responsive" alt="">
                </div>
                
                <div class="row" style="color:rgb(99, 110, 110);font-family: monospace;">
                    <h4 ><strong>Posted on: {{post.posted_on}}</strong></h4>
                </div>
                
                <a href="{{post.project_url}}" target="_blank">INSTA G</a>
                <div class="row" style="color:rgb(99, 110, 110);font-family: monospace;">
                    <h4 ><strong>{% autoescape on %}
                        {{project.description| safe}}
                       {% endautoescape %}
                    </strong></h4>
                </div>
                   
                <div class="row" style="color:rgb(99, 110, 110);font-family: monospace;">
                    <h4 ><strong>{% autoescape on %}
                        {{project.technologies_used| safe}}
                       {% endautoescape %}
                    </strong></h4>
                </div>

                
</div>      
        
    <div class="container">   

<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">RATE</button>
<div id="demo" class="collapse">
              
            

  <form  action="{%url 'votes' post.id %}" method="post" enctype="multipart/form-data">
    {%csrf_token%}

    {% bootstrap_form form %}
    <input type="submit" class="btn btn-success btn-lg" value="Post">
  </form>

   {% block scripts %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %} {% endblock %}

</div>


</div> 
</body>

</html>
{% endblock %}
